.header__title {
  align-self: center;
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  /* для полужирных начертаний подразумевается толщина 700 */
}
